<h1> Hey this is the About page </h1>


<head>Grey_Beauty APP
<title>The Next twitter</title>
</head>
<body>
All the stuff you want on your page goes between the body tags.
</body>
</html>
<a href="mailto:your email addy here">joseveratudela@gmail.com</a>
<html>
<%= link_to 'Home' , pages_home_path %>

